:root {
      --color-brand: 34, 87, 126;
      --color-other: 85, 132, 172;
      --color-gray: 197, 196, 197;
  }
  
  .bg-brand {
      --bg-opacity: 1;
      background-color: rgba(var(--color-brand), var(--bg-opacity));
  }
  
  .bg-other {
      --bg-opacity: 1;
      background-color: rgba(var(--color-other), var(--bg-opacity));
  }
  
  .bg-gray {
      --bg-opacity: 1;
      background-color: rgba(var(--color-gray), var(--bg-opacity));
  }
  
  .bg-image-vertical {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
  }
  
  .form-control::placeholder {
      color: var(--bs-light) !important;
      opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
      color: var(--bs-light) !important;
      opacity: 1;
  }
  
  .form-control::-moz-placeholder {
      color: var(--bs-light) !important;
      opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
      color: var(--bs-light) !important;
      opacity: 1;
  }
  
  .bg-photo {
    background-image: url('/home_illust.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 30vh !important;
    }
}

.hero {
    height: 65vh;
    position: relative;
}
